<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
</li>

<%= added_friend(user, @friendship) %>

  <div class="timeline">
    <h3>Pending invitations</h3><br>
    <%= render 'posts/received_invites', received_invites: @received_invites %><br>
    <%= render 'posts/sent_invites' %>
  </div>